.additional-images {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #f5f5f5;
}

.additional-images-wrapper {
  
    position: relative;
    width: 50%;
    margin-top: -300px;
   
}

.large-image {
    margin-top: 4cm;
    width: 100%;
    border-radius: 1px;
    clip-path: none;
    margin-right: -0cm;

    /* Rectangular shape */
     margin-left: 1CM;
     width: 1100px;
     height: 400px;
}

.small-image {
    position: absolute;
    top: -2px;
    /* Adjust as needed */
    margin-left: 6cm;
    margin-right: 8cm;
    /* Adjust as needed */
    width: 40%;
    /* Adjust the size of the small image */
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    --top-left: -20% -20%;
    --top-right: 100% -20%;
    --btm-right: 78% calc(100% + 160px);
    --btm-left: -120px calc(100% + 160px);
    clip-path: polygon(var(--top-left), var(--top-right), var(--btm-right), var(--btm-left));
}
