.engineering-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px;
    background-color: rgb(240, 240, 240);
    ;
    ;
}

.engineering-images {
    display: flex;
    position: relative;
    flex: 1;
    max-width: 50%;
    margin-left: 0;
}

.engineering-images .image1 {
    width: 400px;
    margin-left: -3cm;
    height: 450px;
    z-index: 2;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.12) -30px 35px 60px 0px;
    box-shadow: rgba(0, 0, 0, 0.12) -30px 35px 60px 0px;
    --top-left: 15% 0;
    --top-right: calc(100% + 120px) 0;
    --btm-right: calc(100% + 120px) calc(100% + 160px);
    --btm-left: -2% calc(100% + 160px);
    clip-path: polygon(var(--top-left), var(--top-right), var(--btm-right), var(--btm-left));
    
    margin-left: 16cm;

}

.engineering-images .image2 {
    width: 550px;
    height: 550px;
    z-index: 1;
    position: absolute;
    top: 80px;
    
    box-shadow: rgba(0, 0, 0, 0.12) -20px 25px 50px 0px;
    margin-left: 8cm;

}

.engineering-text {
    flex: 1;
    max-width: 50%;
    padding-left: 60px;
    margin-right: 7cm;
}

.engineering-text h2 {
    font-size: 3.75rem;
    margin-bottom: 20px;
    margin: 0px;
    color: inherit;
    font-family: inherit;
    font-weight: 200;
    line-height: 1.2;
}

.engineering-text p {
    font-family: Oscine, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(97, 97, 97);
    margin: 1em 0;
}

.engineering-text ul {
    list-style: disc;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    font-family: Oscine, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(97, 97, 97);
}

.engineering-text ul li {
    width: 50%;
    font-size: 1rem;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .engineering-section {
        flex-direction: column;
        padding: 40px 20px;
    }

    .engineering-text {
        max-width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }

    .engineering-images {
        justify-content: center;
        margin-bottom: 20px;
    }

    .engineering-images .image1,
    .engineering-images .image2 {
        position: relative;
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        clip-path: none;
    }
}
