.section-wrapper {
   margin-top: -4cm;
    padding-top: 1cm;
    padding-left: 2cm;
    padding-right: 2cm;
   
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
  
    background-color: white;
}

.section-content {
    max-width: 45%;
    /* Ensure the content takes up less space */
    text-align: justify;
    /* Align text to the right */
  padding: 2px;
    /* Adjust padding as necessary */

}

.section-content p {
    font-family: 'Oscine', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(97, 97, 97);
    margin: 0;
}

@media screen and (max-width: 1439px) {
    .section-content {
        max-width: 40%;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 880px) {
    .section-wrapper {
        flex-direction: column;
        align-items: center;
        /* Center align content */
        padding: 1rem;
        height: auto;
    }

    .section-content {
        max-width: 100%;
        padding-right: 0;
        margin-top: 1rem;
        text-align: center;
        /* Center text for smaller screens */
    }
}
